<style>
  h1 {
    padding-bottom: 30px;
  }
  input {
    padding: 0 5px;
  }
</style>
<body>
  <h1>Wanna update anything, enter your data!</h1>
  <form action="/updateData" method="POST">
    <input
      type="text"
      ,
      name="jobName892"
      ,
      placeholder="Enter jobName892"
      ,
      required
    />
    <input
      type="text"
      ,
      name="partId892"
      ,
      placeholder="Enter partId892"
      ,
      required
    />
    <input
      type="text"
      ,
      name="qty892"
      ,
      placeholder="Enter qty892"
      ,
      required
    />

    <button>Update</button>
  </form>
  <br />
  <form action="/">
    <button>Home</button>
  </form>
</body>
